<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons side="left">
            <button ion-button icon-only (click)="toggleMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>Course Index</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="has-header">
    <div class="page-container">

        <ul>
            <li *ngFor="let project of courseContent">
                <h1>{{project.title}}</h1>
                <ul *ngIf="project.children">
                    <li *ngFor="let session of project.children">
                        <h3>{{session.title}}</h3>
                        <ul *ngIf="session.pages">
                            <li *ngFor="let page of session.pages">
                                {{page.title}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</ion-content>
