<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons side="left">
            <button ion-button menuToggle color="primary">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Class Assignments</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="has-header">
    <div class="page-container">
        <ion-card *ngFor="let assignment of myAssignments" class="my-assignments notes-card">
            <ion-card-header>
                <h4>Student: {{ assignment.StudentName }}, P{{assignment.ProjectNumber}}S{{assignment.SessionNumber}}, Page {{assignment.PageNumber}}. {{assignment.SubmittedDate | date}}
                                        <button ion-button icon-only color="primary" (click)="redirect(assignment)" class="disable-hover button">
                        <span class="button-inner">
                            <ion-icon name="share-alt"></ion-icon>
                        </span>
                    </button>

                </h4>
            </ion-card-header>
            <ion-card-content>
                <h3>Assignment: {{ assignment.AssignmentName }} </h3>
                <h3>Assignment Data </h3>
                <ul *ngFor="let assignmentDetails of assignment.AssignmentData">
                    <li>
                        {{assignmentDetails}}
                    </li>
                </ul>
            </ion-card-content>
            <ion-row *ngIf="assignment.ProjectNumber" no-padding>
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>
