// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/welcome-page/welcome-page";
@import "../pages/content-page/content-page";
@import "../pages/answer-question-page/answer-question-page";
@import "../pages/activity-table-page/activity-table-page";
@import "../pages/question-peer-review-page/question-peer-review-page";

@media screen and (min-width: 789px) {
    .page-container {
        width: 789px;
        margin: 0 auto;   
    }
}

.has-header {
    top: 44px !important;
    bottom: 0px;
    height: initial !important;
}

.has-footer {
    bottom: 44px !important;
    height: initial !important;
}
