<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only color="primary" (click)="toggleMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{selectedItem.title}}</ion-title>
        <ion-buttons right>
            <button icon-only ion-button [hidden]="!userData.IsFacilitator" (click)="syncPage()">
                <ion-icon name="sync"></ion-icon>
            </button>
            <button icon-only ion-button (click)="createNote()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content class="has-header has-footer" *ngIf="categories">
    <div class="page-container">
        <character-phrase-img></character-phrase-img>
        <inner-content></inner-content>
        <ion-card>
            <ion-card-content>
                <ion-card-title><strong>Budget</strong></ion-card-title>
                <ion-list>
                    <ion-item *ngFor="let item of table">
                        <ion-row>
                            <ion-col text-left>{{item.category.name}}</ion-col>
                            <ion-col text-left>{{item.name}}</ion-col>
                            <ion-col text-right>$ {{item.price}}
                                <button icon-only ion-button [hidden]="isSubmitted" (click)="removeItem(item)">
                                    <ion-icon name="close"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-label text-right><strong>$ {{total}}</strong></ion-label>
                    </ion-item>
                </ion-list>
                <ion-item>
                    <ion-row *ngIf="addList && addList.length > 0">
                        <ion-col width-70>
                            <ion-item>
                                <ion-select [(ngModel)]="selectItem" (ionChange)="addItem($event)" [placeholder]="'Choose ' + nextCategoryName + ' option...'">
                                    <ion-option *ngFor="let option of addList" [value]="option.item">{{option.name}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col width-30>
                            <!--<button ion-button *ngIf="!isSubmitted" class="right" (click)="addItem()">Add</button>-->
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="addList && addList.length == 0">
                        <ion-col>
                            <button ion-button *ngIf="!isSubmitted" class="right" (click)="onSubmit()">Submit Budget</button>
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-left color="primary" (click)="navigateBackTo(selectedItem.prevItem)" royal [hidden]="!selectedItem.prevItem">
                <ion-icon name="arrow-back" item-left></ion-icon>
                Previous
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-right color="primary" (click)="navigateForwardTo(selectedItem.nextItem)" royal [hidden]="!selectedItem.nextItem" [disabled]="!selectedItem.menuItem.isComplete && (!isSubmitted && isClassroomModeOn)">
                Next
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>
            <button ion-button icon-right color="primary" (click)="finishSession(selectedItem)" royal [hidden]="selectedItem.nextItem" [disabled]="!selectedItem.menuItem.isComplete && (!isSubmitted && isClassroomModeOn)">
                Done
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
