<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons start>
            <button ion-button icon-only (click)="toggleMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{selectedItem.title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only [hidden]="!userData.IsFacilitator" (click)="syncPage()">
                <ion-icon name="sync"></ion-icon>
            </button>
            <button ion-button icon-only (click)="createNote()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="">
    <div class="page-container">
        <div *ngIf="selectedItem" class="selection">
            <character-phrase-img></character-phrase-img>
            <inner-content></inner-content>
            <animation *ngIf="animationName && selectedItem" style="position:relative;display:block;" [name]="animationName" [session]="selectedItem.menuItem.session"
                [project]="selectedItem.menuItem.project" [urlName]="selectedItem.urlName" [paused]="pauseAnimation" [firstFrame]="selectedItem.firstFrameFile" (playStateChanged)="setAnimationState($event)">
            </animation>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-left (click)="navigateBackTo(selectedItem.prevItem)" royal [hidden]="!selectedItem.prevItem">
                <ion-icon name="arrow-back" item-left></ion-icon>
                Previous
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-right (click)="navigateForwardTo(selectedItem.nextItem)" royal [hidden]="!selectedItem.nextItem">
                Next
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>
            <button ion-button icon-right (click)="finishSession(selectedItem)" royal [hidden]="selectedItem.nextItem">
                Done
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
