div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
}
h1 {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
}

h1.session-header:after {
  content: attr(data-num);
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgb(229, 5, 58);
  text-align: center;
  line-height: 60px;
  left: -40px;
  top: 50%;
  margin-top: -35px;
  border: 2px solid rgb(229, 5, 58);
  box-shadow: inset 0px 0px 0px 4px #fff;
  font-size: 40px;
  font-weight: 900;
  color: white;
}
h1.session-header {
  position: relative;
  padding: 10px 10px 10px 60px;
  margin-left: 40px;
  text-align: left;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  color: #333;
}
p {
  font-size: 16px;
  color: #333;
}

.ion-page{
  ul.listed-items {
    padding: 20px;
    margin: 10px;
  }
  ul.listed-items > li {
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 3px 3px 5px #efefef;
  }

  ul.listed-items-checkmark {
    padding: 20px;
    li {
      font-size: 24px;
      font-weight: 900;
      text-align: left;
      list-style: none;
      border-bottom: 2px solid #f4f4f4;
      div {
        display: flex;
      }
      .checkmark:before {
        line-height: 0.5em;
      }
      .checkmark {
        margin: 0px;
        .checkmark-content {
          align-self: center;
          font-weight: 900;
          font-size: 24px;
          color: black;
          padding-left: 10px;
        }
        display: flex;
        font-weight: 900;
        font-size: 80px;
        color: rgb(229, 5, 58);
      }
    }
  }

  table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background-color: #f8f8f8;
    padding: 15px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  table th {
    font-size: 14px;
    font-weight: 900;
    color: black;
    padding: 10px 8px;
    border-bottom: 2px solid rgb(229, 5, 58);
    text-align: center;
    background-color: #ededed;
  }
  table td {
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 6px 8px;
    text-align: center;
  }
  table tr:nth-child(even) {background: #e2e2e2}
  table tr:nth-child(odd) {background: #ededed}
  table tbody tr:hover td {
    color: black;
    font-weight: 900;
  }
}
.question {
  margin-bottom: 20px;
}
.question input {
  border-radius: 5px;
  padding: 5px;
  width: 75%;
}
.question button {
  padding: 10px 15px;
  border-radius: 5px;
}
input.small {
    width: 100px;
}

.class-session-agenda-table{
  min-width: 800px;
}
input.correct {
  background-color: #d4f8cd;
}
input ~ i {
  display: none;
}
input.correct ~ i {
  color: #0F0;
  display: inline-block;
}
.character-intros {
  min-height: 100px;
  position: relative;
}
@media (max-width: 480px){
  .character-intros {
      min-height: 170px;
      font-size: 0.7em;
    }
}
.character-intros > .character-intro {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s linear;
    width: 100%;
    padding: 15px;
    border: 1px red solid;
    border-radius: 5px;
}
.character-intros.zynab > .character-intro.zynab, .character-intros.kimberley > .character-intro.kimberley, .character-intros.yuna > .character-intro.yuna, .character-intros.valeria > .character-intro.valeria {
    opacity: 1;
}

.character-images.zynab img, .character-images.kimberley img, .character-images.yuna img, .character-images.valeria img {
  opacity: 0.5;
  transition: opacity 0.5s linear;
}
.character-images.zynab img.zynab, .character-images.kimberley img.kimberley, .character-images.yuna img.yuna, .character-images.valeria img.valeria {
  opacity: 1;
}
.img-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-link img {
  max-height: 80px;
}

.img-link .img-200 {
  max-height: 200px;
}
.img-link .img-400 {
  max-height: 400px;
}
.processing-content  {
  display: flex;
  flex-direction: row;
}
.img-link-item {
  margin: 3px;
  align-items: center;
}

.left-list-items li {
 text-align: left;
 border-bottom: 1px solid #ddd;
 margin-bottom: 5px;
 padding-bottom: 5px;
}
.plain-list li {
    font-size: 16px;
    text-align: left;
}
