div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
}

.question input {
  
}
.question button {
  
}
.button.right {
  float: right;

}
input.text-input {
  font-size: 26px;
  border-bottom: 1px solid #aaa;
}
.question-peer-review {
  display: flex;
  align-items: center;
  .question-peer-review-icon {
    font-size: 45px;
    color: rgb(229, 5, 58);
    font-weight: 900;
    margin-right: 2px;
  }
}
