<ion-header>
    <ion-navbar no-border-bottom hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only color="primary" (click)="toggleMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{selectedItem.title}}</ion-title>
        <ion-buttons  end>
            <button ion-button icon-only color="primary" [hidden]="!userData.IsFacilitator" (click)="syncPage()">
                <ion-icon name="sync"></ion-icon>
            </button>
            <button ion-button icon-only color="primary" (click)="createNote()">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only color="primary" [hidden]="!userData.IsFacilitator"
                    (click)="goToTeacherPage()">
                <ion-icon name="easel"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="has-header has-footer" *ngIf="questions">
    <div class="page-container">
        <character-phrase-img></character-phrase-img>
        <inner-content></inner-content>
        <ion-card class="questions" *ngFor="let question of questions.questions">
            <ion-card-content>
                <ion-card-title *ngIf="questions"><strong>{{question.question}}</strong></ion-card-title>
                <ion-list radio-group  [(ngModel)]="question.answered">
                    <div *ngIf="question.type == 'multiple-choice'">
                        <ion-item class="important-bottom-bordered" *ngFor="let answer of question.answers">
                            <ion-label>{{answer.answer}}</ion-label>
                            <ion-radio (click)="sendResponses(question, answer)" value="{{answer.answer}}"></ion-radio>
                        </ion-item>
                    </div>
                    <ion-item *ngIf="question.type == 'text'">
                        <ion-input value=""></ion-input>
                    </ion-item>
                </ion-list>
                <ion-list *ngIf="question.suggestions && question.suggestions.length">
                    <ul class="answers">
                        <li class="answer" *ngFor="let suggestion of question.suggestions">{{suggestion}}</li>
                    </ul>
                </ion-list>
                <ion-item *ngIf="question.type == 'discussion'" class="answer-page-input">
                    <ion-input [(ngModel)]="question.suggestion" type="text" placeholder="Type suggestion..."></ion-input>
                </ion-item>
                <ion-item *ngIf="question.type == 'discussion'">
                    <button ion-button (click)="onSuggest(question)" class="right answer-button">Add Suggestion</button>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-left color="primary" (click)="navigateBackTo(selectedItem.prevItem)" royal [hidden]="!selectedItem.prevItem">
                <ion-icon name="arrow-back" item-left></ion-icon>
                Previous
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-right color="primary" (click)="navigateForwardTo(selectedItem.nextItem)" royal [hidden]="!selectedItem.nextItem" [disabled]="!selectedItem.menuItem.isComplete && questionsNotProcessed()">
                Next
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>
            <button ion-button icon-right color="primary" (click)="finishSession(selectedItem)" royal [hidden]="selectedItem.nextItem" [disabled]="!selectedItem.menuItem.isComplete && questionsNotProcessed()">
                Done
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
