div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
}

.question input {

}
.question button {

}
.button.right {
  float: right;

}
.page-container {
  .questions {
    box-shadow: none;
    background: #ededed;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    ion-item {
      background: #ededed;
    }
  }
  .answer-page-input {
    padding-left: 0;
    input.text-input {
      font-size: 20px;
      padding: 2px;
      border: 1px solid red;
      background: #ffffff;
      font-size: 1.2em;
      border: 1px solid red;
      border-radius: 5px;
      height: 40px;
    }

  }
  .answers {
    margin: 0;
    padding: 0;
    .answer {
      list-style: none;
      padding-left: 1em;
      text-indent: -.7em;
      font-size: 18px;
    }
    .answer:before {
      content: "• ";
      color: red;
      padding-right: 5px;
    }
  }
}

.incorrect-symbol {
    font-size: 60px;
    line-height: 20px;
  font-weight: bold;
  color: #F55555;
      vertical-align: bottom;
}
.correct-symbol {
    font-size: 60px;
    line-height: 20px;
    font-weight: bold;
    color:#06BE06;
        vertical-align: bottom;
}
button.item-button.answer-button{
    height:40px;
    font-weight: 900;
    font-size: 0.8em;
}
