
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>G3 Data Analytics</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">  
  <div>
    <img style="width:100%" src="/img/g3-girls.jpg" />
  </div>
  <div>
    <button *ngIf="continueFrom" (click)="navigateTo(continueFrom)">Continue from {{continueFrom.menuItem.title}}: {{continueFrom.title}}</button>
    <button *ngIf="!continueFrom">Get Started!</button>
  </div>
  <div>
    <img style="width:100%" src="/img/g3-intro-text.png" />
  </div>
  
  
<br>

</ion-content>
