.getting-started {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }
  h1 {
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #333;
  }

}
button.button.red {
   background-color: #E5053A;
    box-shadow: 3px 3px 10px #aaa;
}
.login-input-form {
  .login-form-item {
    padding-left: 0;
    .item-inner {
      border: 1px solid red;
      border-radius: 5px;
      padding: 1px;
      margin-bottom: 3px;
    }
  }

  .login-page-input {
    .text-input {
      border-bottom: none;
    }
  }
  .login-icon {
    margin-left: 5px;
    margin-right: 5px;
    color: red;
  }
}
