<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons side="left">
            <button ion-button menuToggle color="primary">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>My notes</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="has-header">
    <div class="page-container">
        <ion-card *ngFor="let note of myNotes" class="notes-card">
            <ion-card-header>
                <h4>Project {{note.ProjectNumber}}, Session {{note.SessionNumber}}, Page {{note.PageNumber}}
                    <button ion-button icon-only color="primary" (click)="redirect(note)"  class="disable-hover button ">
                        <span class="button-inner">
                            <ion-icon name="share-alt"></ion-icon>
                        </span>
                    </button>
                </h4>
            </ion-card-header>
            <ion-card-content>
                <h4>Note text: {{ note.NoteText }}</h4>
            </ion-card-content>
            <ion-row *ngIf="note.ProjectNumber" no-padding>
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-card>

    </div>
</ion-content>
