div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}

.question input {
  
}
.question button {
  
}
.button.right {
  float: right;

}
input.text-input {
  font-size: 26px;
  border-bottom: 1px solid #aaa;
}
.incorrect-symbol {
    font-size: 60px;
    line-height: 20px;
  font-weight: bold;
  color: #F55555;
      vertical-align: bottom;
}
.correct-symbol {
    font-size: 60px;
    line-height: 20px;
    font-weight: bold;
    color:#06BE06;
        vertical-align: bottom;
}
ion-select {
  max-width: none;
}