<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons side="left">
            <button (click)="toggleMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>{{selectedItem.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="has-header has-footer" *ngIf="categories">
    <div class="page-container">
        <character-phrase-img></character-phrase-img>
        <inner-content></inner-content>
        <ion-card>
            <ion-card-content>
                <ion-card-title><strong>Budget</strong></ion-card-title>
                <ion-list>
                    <ion-item *ngFor="let item of table">
                        <ion-row>
                            <ion-col text-left>{{item.category.name}}</ion-col>
                            <ion-col text-left>{{item.name}}</ion-col>
                            <ion-col text-right>$ {{item.price}}</ion-col>
                        </ion-row>
                    </ion-item>
                    <ion-item>
                        <ion-label text-right><strong>$ {{total}}</strong></ion-label>
                    </ion-item>
                </ion-list>
                <ion-footer-bar>
                    <ion-row *ngIf="addList && addList.length > 0">
                        <ion-col width-70>
                            <ion-select [(ngModel)]="addSelected">
                                <ion-option checked="true" value="0">Choose item</ion-option>
                                <ion-option *ngFor="let option of addList" [value]="option.item">{{option.name}}</ion-option>
                            </ion-select>
                        </ion-col>
                        <ion-col width-30>
                            <button class="right" (click)="addItem()">Add</button>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="addList && addList.length == 0">
                        <ion-col>
                            <button class="right">Submit Budget</button>
                        </ion-col>
                    </ion-row>
                </ion-footer-bar>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="navigateBackTo(selectedItem.prevItem)" royal [hidden]="!selectedItem.prevItem">
                <ion-icon name="arrow-back" item-left></ion-icon>
                Previous
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button (click)="navigateForwardTo(selectedItem.nextItem)" royal [hidden]="!selectedItem.nextItem">
                Next
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>
            <button (click)="finishSession(selectedItem)" royal [hidden]="selectedItem.nextItem">
                DONE!
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>