<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-buttons side="left">
            <button (click)="toggleMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>{{selectedItem.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="questions">
    <div class="page-container">
        <ion-card>
            <ion-card-content [innerHtml]="pageContent" class="content-page">
            </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let question of questions.questions">
            <ion-card-content>
                <ion-card-title *ngIf="questions"><strong>{{question.question}}</strong></ion-card-title>
                <ion-list radio-group>
                    <div *ngIf="question.type == 'multiple-choice'">
                        <ion-item *ngFor="let answer of question.answers">
                            <ion-label>{{answer.answer}}</ion-label>
                            <ion-radio value="{{answer.answer}}"></ion-radio>
                        </ion-item>
                    </div>
                    <ion-item *ngIf="question.type == 'text'">
                        <ion-input value=""></ion-input>
                    </ion-item>
                </ion-list>
                <ion-footer-bar *ngIf="question.type == 'discussion'">
                    <ion-input value="" type="text" placeholder="Type suggestion..."></ion-input>
                    <button (click)="onSuggest()" class="right">Suggest</button>
                </ion-footer-bar>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button (click)="navigateBackTo(selectedItem.prevItem)" royal [hidden]="!selectedItem.prevItem">
                <ion-icon name="arrow-back" item-left></ion-icon>
                Previous
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button (click)="navigateForwardTo(selectedItem.nextItem)" royal [hidden]="!selectedItem.nextItem">
                Next
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>
            <button (click)="finishSession(selectedItem)" royal [hidden]="selectedItem.nextItem">
                DONE!
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>