<ion-header>
    <ion-navbar>
    <button ion-button menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>G3 Data Analytics</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="getting-started">
  <div class="page-container">
    <div>
      <img style="width:100%" src="/assets/img/g3-girls.jpg" />
    </div>
    <div style="text-align: center">
        <p class="welcome-student-name"
            *ngIf="userData && userData.Name && isLoggedIn">
            Hello, {{userData.Name}} !
        </p>
        <button ion-button *ngIf="!isLoggedIn" class="red" (click)="login()">Welcome! Click here to log in</button>
    </div>
    <div *ngIf="isLoggedIn" style="text-align: center">
      <button ion-button class="red" *ngIf="continueFrom" (click)="navigateTo(continuePage)">Continue from {{continuePage.menuItem.title}}: {{continuePage.title}}</button>
      <button ion-button class="red"  *ngIf="!continueFrom" (click)="startCourse()">Get Started!</button>
    </div>
    <div>
      <img style="width:100%" src="/assets/img/g3-intro-text.png" />
    </div>
  </div>
  <br>
</ion-content>
