<ion-header>
    <ion-navbar no-border-bottom hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only color="primary" (click)="toggleMenu()">
            <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>{{selectedItem.title}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only color="primary" [hidden]="!userData.IsFacilitator" (click)="syncPage()">
                <ion-icon name="sync"></ion-icon>
            </button>
            <button ion-button icon-only color="primary" (click)="createNote()">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only color="primary" [hidden]="!userData.IsFacilitator"
                    (click)="goToTeacherPage()">
                <ion-icon name="easel"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="has-header has-footer" *ngIf="questions">
    <div class="page-container">
        <character-phrase-img></character-phrase-img>
        <ion-card>
            <ion-card-content class="content-page">
                <inner-content></inner-content>
            </ion-card-content>
        </ion-card>
        <ion-card *ngFor="let question of questions.questions">
            <ion-card-content class="polling-page-questions">
                <ion-card-title class="question" *ngIf="questions"><strong>{{question.question}}</strong></ion-card-title>
                <ion-list>
                    <ion-item class="answer" *ngFor="let answer of question.answers">
                        <button ion-button [ngClass]="answer.voteState" (click)="onSuggest(question, answer)" class="polling-option" *ngIf="!answer.buttonType">
                            {{answer.answer}}
                        </button>
                        <div [ngClass]="answer.voteState" (click)="onSuggest(question, answer)" class="polling-button" *ngIf="answer.buttonType">
                            <div class="polling-icon face-strongly-agree" *ngIf="answer.buttonType == 'face-strongly-agree'">
                                <ion-icon name="happy"></ion-icon>
                            </div>
                            <div class="polling-icon face-agree" *ngIf="answer.buttonType == 'face-agree'">
                                <ion-icon>&#9786;</ion-icon>
                            </div>
                            <div class="polling-icon face-not-sure" *ngIf="answer.buttonType == 'face-not-sure'">
                                <ion-icon>?</ion-icon>
                            </div>
                            <div class="polling-icon face-disagree" *ngIf="answer.buttonType == 'face-disagree'">
                                <ion-icon>&#9785;</ion-icon>
                            </div>
                            <div class="polling-icon face-strongly-disagree" *ngIf="answer.buttonType == 'face-strongly-disagree'">
                                <ion-icon name="sad"></ion-icon>
                            </div>
                            <div class="polling-icon thumb-strongly-agree" *ngIf="answer.buttonType == 'thumb-strongly-agree'">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </div>
                            <div class="polling-icon thumb-agree" *ngIf="answer.buttonType == 'thumb-agree'">
                                <ion-icon name="thumbs-up"></ion-icon>
                            </div>
                            <div class="polling-icon thumb-not-sure" *ngIf="answer.buttonType == 'thumb-not-sure'">
                                <ion-icon>?</ion-icon>
                            </div>
                            <div class="polling-icon thumb-disagree" *ngIf="answer.buttonType == 'thumb-disagree'">
                                <ion-icon name="thumbs-down"></ion-icon>
                            </div>
                            <div class="polling-icon thumb-strongly-disagree" *ngIf="answer.buttonType == 'thumb-strongly-disagree'">
                                <ion-icon name="thumbs-down"></ion-icon>
                            </div>

                            <div class="polling-button-text">
                                {{answer.answer}}
                            </div>
                        </div>

                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-left color="primary" (click)="navigateBackTo(selectedItem.prevItem)" royal [hidden]="!selectedItem.prevItem">
                <ion-icon name="arrow-back" item-left></ion-icon>
                Previous
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button icon-right color="primary" (click)="navigateForwardTo(selectedItem.nextItem)" royal [hidden]="!selectedItem.nextItem" [disabled]="!selectedItem.menuItem.isComplete && questionsNotAnswered()">
                Next
                <ion-icon name="arrow-forward" item-right></ion-icon>
            </button>
            <button ion-button icon-right color="primary" (click)="finishSession(selectedItem)" royal [hidden]="selectedItem.nextItem" [disabled]="!selectedItem.menuItem.isComplete && questionsNotAnswered()">
                DONE
                <ion-icon name="checkmark" item-right></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
